@{
    ViewData["Title"] = "Duyurular";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}
@model IQueryable<Duyuru>

<!doctype html>
<html lang="tr">

<body>



<section class="banner-area">
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-12 banner-right">
				
			</div>
		</div>
	</div>
</section>

    <div class="container">
        <table class="table table-bordered">
            <tr>
                @* <th>#</th>*@
                <th>Duyuru Başlığı</th>
                <th>Duyuru Tarihi</th>
                <th>Sil</th>
                <th>Düzenle</th>
            </tr>


            @foreach (var item in Model)
            {
                <tr>
                    @*<th>@item.DuyuruID</th>*@
                    <td>@item.DuyuruBasligi</td>
                    <td>@(((DateTime)item.DuyuruTarihi).ToString("dd-MMM-yyyy"))</td>


                    <td>
                        <a href="/Yonetici/DuyuruSil/@item.DuyuruID" class="btn btn-danger"
                       onclick="return confirm('Silmek istediğine emin misin?');">  Sil </a>


                    </td>

                    <td>
                        <a href="/Yonetici/DuyuruDuzenle/@item.DuyuruID" class="btn btn-warning"> Düzenle </a>
                    </td>


                </tr>
            }
           
        </table>
        <a href="/Yonetici/DuyuruEkle/" class="btn ml-10" style=" background-color: blueviolet; color:white; "> Yeni Blog Oluştur </a>
</div>




</body>
</html>