@model Duyuru
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner-area">
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-12 banner-right">
				
			</div>
		</div>
	</div>
</section>



<div class="container">

	<h2 style="margin-left: 1rem; color: blueviolet;">Yeni Duyuru Girişi</h2>
	<br />
	<form class="form-group" asp-action="DuyuruEkle" asp-controller="Yonetici" method="post">
		
			<div class="form-group col-lg-12">
				<label>Duyuru Başlığı</label> <br />
				<input type="text" asp-for="DuyuruBasligi" class="form-control" />
			</div>

			<div class="form-group col-lg-12">
				<label>Duyuru Açıklaması</label>
				<textarea type="text" asp-for="DuyuruAciklamasi" class="form-control" rows="10"></textarea>
			</div>
		<button class="btn" style="margin-left: 2rem; background-color: blueviolet; color:white; ">Duyuruyu Yayınla</button>
		
	</form>
</div>
