
@{
    ViewData["Title"] = "HataliGiris";
    Layout = null;
}

<h1>HataliGiris Yaptınız</h1>

<a href="/Yonetici/GirisYap">
   <button class="btn btn-primary">Geri dönmek için tıklayınız</button>
</a>

