@*
@{
    ViewData["Title"] = "_HeaderPartial";
}*@

<header class="default-header">
	<nav class="navbar navbar-expand-lg  navbar-light">
		<div class="container">
			<a class="navbar-brand text-white" href="/Home/Index">
				<img src="/WebVize/img/dülogo.png" alt="DÜ Logo" width="35" height="20">
				Düzce Üniversitesi
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="lnr lnr-menu"></span>
			</button>

			<div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
				<ul class="navbar-nav">
					<!-- Dropdown -->
					<li class="dropdown">
						<a class="dropdown-toggle" href="#" data-toggle="dropdown">
							Üniversitemiz
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Düzce</a>
							<a class="dropdown-item" href="#">Kuruluş</a>
							<a class="dropdown-item">Yönetim</a>
						</div>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" href="#" data-toggle="dropdown">
							Akademik
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Fakülteler</a>
							<a class="dropdown-item" href="#">Yüksekokullar</a>
						</div>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" href="#" data-toggle="dropdown">
							İhtisaslaşma
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Program Kapsamı</a>
							<a class="dropdown-item" href="#">Tıbbi Bitki Yetiştiriciliği</a>
						</div>
					</li>
					<li><a href="#">DÜYayınlar</a></li>
					<li><a href="/Duyuru/Duyurular">DÜDuyurular</a></li>
					<li><a href="/Yonetici/Duyurular">DASHBOARD</a></li>

					@*<li>
						<button class="search">
							<span class="lnr lnr-magnifier" id="search"></span>
						</button>
					</li>*@
				</ul>
			</div>
		</div>
	</nav>
	@*<div class="search-input" id="search-input-box">
		<div class="container">
			<form class="d-flex justify-content-between">
				<input type="text" class="form-control" id="search-input" placeholder="Arama Yapın" />
				<button type="submit" class="btn"></button>
				<span class="lnr lnr-cross" id="close-search" title="Close Search"></span>
			</form>
		</div>
	</div>*@
</header>

