<!DOCTYPE html>
<html>



<partial name="/Views/Home/Partials/_HeadPartial.cshtml" />

<body>
	<partial name="/Views/Home/Partials/_HeaderPartial.cshtml" />
<div>
	@RenderBody()
</div>
			

	<partial name="/Views/Home/Partials/_FooterPartial.cshtml" />

</body>
</html>