@model IEnumerable<Duyuru>
@{
    ViewData["Title"] = "Düzce Üniversitesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>
<html lang="zxx" class="no-js">



<body>
 

  <!-- ================ start banner Area ================= -->
  <section class="home-banner-area">
    <div class="container">
      <div class="row justify-content-center fullscreen align-items-center">
        <div class="col-lg-5 col-md-8 home-banner-left">
          <h1 class="text-white">
            Değer Üreten <br />
            Üniversite
          </h1>
          <p class="mx-auto text-white  mt-20 mb-40">
            Toplum için bilim anlayışını ilke edinen Düzce Üniversitesi, modern eğitim programları, 
            teknolojik imkânları, nitelikli ve donanımlı akademik kadrosuyla 
            yeni değerler üretmeye devam etmektedir.
          </p>
        </div>
        <div class="offset-lg-2 col-lg-5 col-md-12 home-banner-right">
          <img class="img-fluid" src="/WebVize/img/header-img.png" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- ================ End banner Area ================= -->

  <!-- ================ Start Feature Area ================= -->
  <section class="feature-area">
    <div class="container-fluid">
      <div class="feature-inner row">
        <div class="col-lg-2 col-md-6">
          <div class="feature-item d-flex">
            @*<i class="ti-book"></i>*@
            <img src="/WebVize/img/uretken1.png" alt="DÜ Logo" width="40" height="40">
            <div class="ml-20">
              <h4>Üretken</h4>
              <p>
                   Modern eğitim programları, teknolojik imkânları,
                   nitelikli ve donanımlı akademik kadrosuyla yeni değerler üretmeye azimle devam etmektedir.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6">
          <div class="feature-item d-flex">
            @*<i class="ti-cup"></i>*@
            <img src="/WebVize/img/girisimci.png" alt="DÜ Logo" width="40" height="40">
            <div class="ml-20">
              <h4>Girişimci</h4>
              <p>
                  Girişimci, yenilikçi ve şeffaf yönetim kültürü ile faaliyetlerini başarıyla sürdürmektedir.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6">
          <div class="feature-item d-flex border-right-0">
            @*<i class="ti-desktop"></i>*@
            <img src="/WebVize/img/yenilik.png" alt="DÜ Logo" width="40" height="40">
            <div class="ml-20">
              <h4>Yenilikçi</h4>
              <p>
                  Günümüze değer üretme felsefesi ışığında; bilimsel araştırmaları, katma değerli çalışmaları,
                  ile bir fidandan bir çınara dönüşmektedir.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ End Feature Area ================= -->

  <!-- ================ Start Blog Post Area ================= -->
  <section class="blog-post-area section-gap">
    <div class="container-fluid">
      <div class="feature-inner row">
        <div class="col-lg-12">
          <div class="section-title text-left">
                        <h1 style="text-align: center">
                Düzce Üniversitesi <br/>
                Duyurular
                         </h1>
          </div>
        </div>
        @foreach (var item in Model)
       {
                    <div class="col-lg-4 col-md-6">
                        <div class="single-blog-post">
                            <img src="/WebVize/img/blog-post/b1.jpg" class="img-fluid" alt="" />
                            <div class="overlay"></div>
                            <div class="top-text">
                                <p></p>
                            </div>
                           
                                <div class="text">
                                    @try
                                {
                                    <h4 class="text-white"> @item.DuyuruBasligi.Substring(0,item.DuyuruBasligi.Substring(0,48).LastIndexOf(" "))...</h4>

                                }
                                catch 
                                {
                                    <h4 class="text-white"> @item.DuyuruBasligi</h4>


                                }

                                    <div>   
@*                                        @try
                                    {
                                        <p>
                                            @item.DuyuruAciklamasi.Substring(0,item.DuyuruAciklamasi.Substring(0,10).LastIndexOf(" "))...

                                        </p>
                                    }
                                    catch 
                                    {
                                        
                                       
                                    }
*@                       
                                    </div>
                                    <a href="/Duyuru/DuyuruDetayi/@item.DuyuruID/" class="primary-btn">
                                        Devamını Gör
                                        <i class="fa fa-long-arrow-right"></i>
                                    </a>
                                </div>

                            
                        </div>
                    </div>
                }
       
@*        <div class="col-lg-4 col-md-6 mt--160">
          <div class="single-blog-post">
                        <img src="/WebVize/img/blog-post/b2.jpg" class="img-fluid" alt="" />
            <div class="overlay"></div>
            <div class="top-text">
              <p>29th, oct, 2018</p>
            </div>
            <div class="text">
                            <h4 class="text-white">DUYURU BAŞLIĞI</h4>
              <div>
                <p>
                   DUYURU AÇIKLAMASI
                </p>
              </div>
              <a href="#" class="primary-btn">
                Devamını Gör
                <i class="fa fa-long-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt--260">
          <div class="single-blog-post">
                        <img src="/WebVize/img/blog-post/b3.jpg" class="img-fluid" alt="" />
            <div class="overlay"></div>
            <div class="top-text">
              <p>29th, oct, 2018</p>
            </div>
            <div class="text">
              <h4 class="text-white">DUYURU BAŞLIĞI</h4>
              <div>
                <p>
                  DUYURU AÇIKLAMASI
                </p>
              </div>
              <a href="#" class="primary-btn">
                Devamını Gör
                <i class="fa fa-long-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>*@
      </div>
    </div>
  </section>
  <!-- ================ End Blog Post Area ================= -->


  <!-- ================ Start Video Area ================= -->
  <section class="video-area section-gap-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="section-title text-white">
            <h2 class="text-white">
              DÜZCE ÜNİVERSİTESİ <br>
              TANITIM FİLMİ
              
            </h2>
        
          </div>
        </div>
        <div class="offset-lg-1 col-md-6 video-left">
            <div class="single-video">
              <div class="video-part">
                <img class="img-fluid" src="/WebVize/img/video-img.jpg" alt="">
                <div class="overlay"></div>
                            <a class="popup-youtube play-btn" href="https://www.youtube.com/watch?v=R9ih2qdxOCo">
                   <img class="play-icon" src="/WebVize/img/play-btn.png" alt="">
                </a>
              </div>
              <p class="text-white navbar-text mb-20 mt-20" style="font-size:large;">
                  Üniversitemiz hakkında bilgi edinmek için tanıtım filmimizi izleyebilirsiniz.
              </p>
            </div>

            
        </div>
      </div>
    </div>
  </section>
  <!-- ================ End Video Area ================= -->

  <!-- ================ Start Feature Area ================= -->
  <section class="other-feature-area">
    <div class="container">
      <div class="feature-inner row">
        <div class="col-lg-12">
          <div class="section-title text-left">
            <h2>
              Düzce Üniversitesi <br />
              Her Alanda
            </h2>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="other-feature-item">
            <i class="ti-key"></i>
            <h4>Öğrenci Bilgi Sistemi</h4>
            <div>
            <p>
                Öğrencilerin sınav sonuçları, ders programları, ders seçimleri
            </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt--160">
          <div class="other-feature-item">
            <i class="ti-files"></i>
            <h4>Akademik</h4>
            <div>
              <p>
                Akademisyenlerimizin akademik yayınları ve ders notları
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt--260">
          <div class="other-feature-item">
            <i class="ti-medall-alt"></i>
            <h4>Üniversitemizin <br> Başarıları</h4>
            <div>
              <p>
                 Üniversitemizin Türkiye ve Dünya çapındaki başarıları
               
              </p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <!-- ================ End Feature Area ================= -->
  
</body>

</html>